---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage.tsx';
import { getImage } from 'astro:assets';

const backgorundImage = await getImage({
    src: '/public/images/Homepage_banner.png',
    alt: 'Andreas Hartmann - Homepage',
    width: 3840,
    height: 2160,
    decoding: 'async',
    format: 'webp',
    quality: 65,
})

const mobileBackgroundImage = await getImage({
    src: '/public/images/Homepage_banner.png',
    alt: 'Andreas Hartmann - Homepage',
    width: 1920,
    height: 1080,
    decoding: 'async',
    format: 'webp',
    quality: 65,
})
---

<BaseLayout title="Andreas Hartmann - Homepage" description="Making memories by capturing them" is404Page={false}>
    <HeroImage
        client:load
        backgroundImage={backgorundImage.src}
        mobileBackgroundImage={mobileBackgroundImage.src}
        sideText="Making memories by capturing them"
        positionX="50%"
        positionY="50%"
        tags={[]}
        alt="Andreas Hartmann - Homepage"
    />
    <div class="flex flex-col items-center justify-center w-full h-full gap-4 px-4 py-8">

        <h1 class="text-3xl font-bold text-center text-slate-900 dark:text-slate-100">
            My Description Title
        </h1>
        <p class="text-lg text-left text-slate-700 dark:text-slate-300 w-1/2">
            Do you ever have those moments where you listen to music that hits perfectly? You look out 
            the window, its pouring rain, and you feel like you are the main protagonist of this 
            movie-like life of yours?
            <br />
            <br />
            In a sense, those moments are reality.  We are the main protagonist of a story that we are 
            still forming. A story with drama, action, chaos, bliss and humor. I am here to make sure 
            that people feel like how they should, the main character. Capturing moments of life while 
            actively living it. In my eyes life takes priority over the pictures; if we live how we want 
            to in the moment, the pictures will follow. This is the essence of my photography:
            <br />
            <br />
            <strong>Making memories by capturing them</strong>
            <br />
            <br />
            This website's purpose is to showcase various memories of different people, 
            locations and experiences ranging from 2015 to present times. Please feel free to 
            browse my Portfolio, and feel free to leave a comment.
        </p>


   
</BaseLayout>




