---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../components/HeroImage.tsx';
import { getImage } from 'astro:assets';

const backgroundImage = await getImage({
    src: '/images/Homepage_banner.png',
    alt: 'Andreas Hartman - Homepage',
    width: 3840,
    height: 2160,
    decoding: 'async',
    format: 'webp',
    quality: 65,
})

const mobileBackgroundImage = await getImage({
    src: '/images/Homepage_banner.png',
    alt: 'Andreas Hartman - Homepage',
    width: 1920,
    height: 1080,
    decoding: 'async',
    format: 'webp',
    quality: 65,
})
---

<BaseLayout title="Andreas Hartman - Homepage" description="Making memories by capturing them" is404Page={false} image={backgroundImage.src} >
    <HeroImage
        client:load
        backgroundImage={backgroundImage.src}
        mobileBackgroundImage={mobileBackgroundImage.src}
        sideText="Making memories by capturing them"
        positionX="50%"
        positionY="50%"
        tags={[]}
        alt="Andreas Hartman - Homepage"
    />
    <div class="flex flex-col items-center justify-center w-full h-full gap-4 px-4 py-8">

        <h1 class="text-3xl font-normal text-center text-slate-900 dark:text-slate-100">
            Caught in the moment
        </h1>
        <p class="text-lg text-left text-slate-700 dark:text-slate-300 w-1/2">
            Do you ever just look out the window on a rainy day? Put on some good tunes and feel like a movie protagonist? 
            <br />
            <br />
            In a sense, you are. Just not of a movie, but life itself. With my photography I capture real life moments and 
            (literally) create memories that help you feel like the main protagonist you are. Prioritizing life experiences 
            and making memories that just happen to be captured on camera. This is the essence of what I do:
            <br />
            <br />
            <strong>Making memories by capturing them</strong>
            <br />
            <br />
            This website's purpose is to showcase various memories of different people, locations and experiences. 
            Ranging from 2015 to present times. Please feel free to browse my portfolio, or leave a comment. 
        </p>

        <div class="flex flex-row gap-6">
            <button class="mt-4 px-6 py-2 bg-gray-600 text-white rounded hover:bg-gray-700 transition-colors">
                <a href="/collections">Collections</a>
            </button>
            <button class="mt-4 px-6 py-2 bg-gray-600 text-white rounded hover:bg-gray-700 transition-colors">
                <a href="/authors/andreas-hartman/">About Me</a>
            </button>
        </div>
    </div>


   
</BaseLayout>
